<ion-view title="عن التطبيق  ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">تقنيات زراعية     </p></b>
                        <b><p align="right"><img ng-src="img/login.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
				
                </div>
            </div>
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">تطبيق تقنيات زراعية يمكنك من عرض قائمة البذور والتواصل مع الشركة بالاستفسارات والطلب البذور المناسبة بكميات تحددها الجهات المختصة بالغستشارة ومن ثم متابعة العملية الزراعية لحين الحصاد     </p></b>
                   
                </div>
            </div>
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">تم تطوير التطبيق في العام 2019م     </p></b>
                        <b><p align="right"><img ng-src="img/login.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
				
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>