<ion-view view-title="المطورين">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="#" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/LogoD.png');"></span>
                    <strong >    تم تطوير النظام كمتطلب </strong> مشروع تخرج
                    <div class="card-footer text-right">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> جامعة الرباط الوطني 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="#" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/LogoD.png');"></span>
                    <strong>المطورون </strong>
                    <div class="card-footer text-right">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i>امين
                        </div>
                        <div class="pull-left">
                            <i class="icon ion-clock"></i>....
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="#" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/LogoD.png');"></span>
                    <strong>الاشراف </strong>
                    <div class="card-footer text-right">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i>الدكتور   
                        </div>
                        <div class="pull-left">
                            <i class="icon ion-clock"></i>....  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="#" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" ></span>
                    <strong> العام</strong>  <strong>2019</strong>
                   
                    <div class="card-footer text-right">
                        <div class="pull-left">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
