<ion-view title=" تزيين السيارات  ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">مشروع تزيين السيارات للافراح </p></b>
                        <b><p align="right"><img ng-src="img/sa.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
					<b><p align="right">موقع ومساحة المشروع </p></b>
                    <p align="right">يحتاج المشروع الى محل بمساحة صغيرة للغاية، ربما لا تتخطى العشرة امتار، ولكن هناك شرطين يجب توافرهما، الاول هو اختيار منطقة متميزة وحيوية تكثر بها خروجات الشباب وتنتشر بها المحلات التجارية، اما الشرط الثاني فهو ضرورة تواجد مكان فارغ امام المحل لاستغلاله في تزيين السيارات ، وطبعًا لا يشترط ان يكون هذا المكان الخالي تابعًا للمحل، بل يمكن ان يكون تابعًا للطريق ولكنه فارغ ومسموح فيه بإنتظار السيارات</p>
                    <b><p align="right">تجهيزات محل تزيين السيارات</p></b>
                    <p align="right">الارضيات يجب ان تكون من السيراميك او البورسلين فاتح اللون لإعطاء شعور بإتساع المكان، ايضًا يجب الاهتمام بطلاء الحوائط، حيث يمكن استخدام الوان مبهجة دون الالتزام بالالوان التقليدية المعتادة، ايضًا يمكن تركيب بعض اعمال الجبس في السقف كنوع من الديكور الراقي الذي يسعد النفس.
                            كذلك يجب تركيب باب من الزجاج السيكوريت الشفاف، بحيث يسمح للزبائن والناس عامة برؤية محتويات المحل من الداخل ولا يسمح بخروج الهواء البارد، كذلك تحتاج الى تركيب ارفف زجاجية وصناديق خشبية ذات مظهر راقي لحفظ الادوات والخامات المستخدمة في تزيين السيارات بها.
                            ايضًا تحتاج الي مكتب صغير وكرسيين مع هاتف ارضي واخر محمول بالاضافة الى مكيف هواء مع التأكيد على ضرورة عدم استخدام المروحة لأنها ستتسب في تطاير الخامات خفيفة الوزن.
                            </p>
                   <b> <p align="right">المنتجات اللازمة للمشروع </p> </b>
                    <p align="right">احبال الضوء وشرائط الساتان القماشية ومعجون تلميع الزجاج والورد الصناعي والورق المقوى المستخدم لكتابة العبارات وادوات اللصق والملصقات الجاهزة والبالونات ذات الجودة العالية تعد من المتطلبات الضرورية للمشروع ويمكن الحصول عليها من اي موزع لزينة السيارات او عن طريق متجر كبير متخصص، كذلك الورد الطبيعي يعد من الاساسيات ويمكن الحصول عليه العمل على تزيين السيارات من محلات بيع الورد المجاورة مع التأكيد على عدم شرائه قبل ذلك كي لا يتلف.
                            ملاحظة :- يمكنك اضافة منتجات اخرى مثل هدايا الزواج (مصاحف، عطور، ورورد، دباديب، بوكسات، … الخ) ولكن في هذه الحالة يفضل ان تكون مساحة المحل اكبر لضمان حرية حركة العاملين والزبائن
                            </p>
                 <b>   <p align="right">العمالة اللازمة للمشروع </p> </b>
                    <p align="right">يحتاج مشروع تزيين السيارات الى شخصين للعمل، مع ضرورة ان يكون صاحب المشروع احد هذين الشخصين، ويفضل ان يكون الشخص الاخر صديق مقرب لصاحب المشروع او شخص بذات العقلية ومتفاهمين بشكل كبير ليتمكنا من العمل سويًا على تزيين السيارات بالشكل المطلوب وفقًا لمتطلبات وتطلعات العملاء</p>
                    
                    <p align="right">...</p>
                    <p align="right">...</p>
                    <p align="right">وشكراً</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>