<ion-view title="  استزراع الاسماك  ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">مشروع استزراع الاسماك في المنزل  </p></b>
                        <b><p align="right"><img ng-src="img/as.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
					<b><p align="right">ىىىىىى</p></b>
                    <p align="right">الأسماك تعتبر من أهم مصادر البروتين الحيواني , حيث تبلغ نسبة البروتين بها من 18 % الى 23% , كما تحتوي على الأحماض الأمينية الضرورية , و بخاصة الليثين , و كذلك تحتوي على عنصر اليود الذي يساعد في النمو المتوازن للغدة الدرقية , و كذلك تضم لحوم الأساك مجموعة من الفيتامينات اللازمة للجسم ( أ , ب , د ) , و كذلك المعادن ( الكالسيوم , الفوسفور , الحديد ) , كما أن لحوم الأسماك سهلة الهضم , سهلة التحضير , و ذا تم إستزراع او تربية الأسماك في المنزل أصبخ من المضمون نوعية الأسماك و أصبحت اقل تكلفة </p>
                    <p align="right">  و يعد الاستزراع النباتي والسمكي هو وسيلة "نظيفة وخضراء" لزراعة النباتات بكفاءة في أنظمة معالجة وإعادة الاستخدام، وسواء كنت بدأت وحدتك الخاصة بالاستزراع النباتي والسمكي في المنزل، أو تقوم بتطوير مشروع استزراع نباتي وسمكي على نطاق واسع، أو تساند وحدات استزراع نباتي وسمكي على نطاق صغير في الفصول الدراسية فهناك خطوات لابد من اتباعها عبد البدء في المشروع </p>
                    <b><p align="right">الخطوات التي يمكن بها  تنفيذ مشروع الاستزراع السمكي</p></b>

                    <p align="right"> يجب اختيار الحوض بعناية، لان الأحواض السمكية عنصر حاسم في كل وحدة استزراع نباتي وسمكي، فأي حوض للأسماك قد يكون نافعا ولكن ينصح بالأحواض المستديرة ذات القيعان المسطحة أو المخروطية الشكل لأنها أسهل للحفاظ على نظافتها، ويستحب استخدام الأحواض المصنوعة من البلاستيك أو الألياف الزجاجية، بسبب متانتها وعمرها الطويل.  </p>
                    <p align="right">  ضمان التهوية الكافية وتوزيع المياه، بحيث  يجب أن تستخدم مضخات الماء والهواء للتأكد من أن الماء يحتوي على مستويات عالية من الأوكسجين المذاب وحركة المياه جيدة جدا بحيث يتمتع الحيوانات والبكتيريا والنباتات بصحة جيدة. بالاضافة أنه يجب أن نتذكر أن تكاليف الكهرباء تعد جزء كبير من ميزانية النظام فعليك اختيار المضخات ومصدر الطاقة بحكمة، وأخذ الطاقة الكهربائية الضوئية في الاعتبار، إذا كان ذلك ممكنا. </p>
                    <p align="right">  الحفاظ على نوعية المياه الجيدة ،وذلك لان الماء هو شريان الحياة لنظام الاستزراع النباتي والسمكي، فهو الوسيط الذي يتم من خلاله نقل جميع العناصر الغذائية الضرورية للنباتات، كما أنه حيث تعيش الأسماك. خمسة علامات رئيسية هامة عن نوعية المياه يجب رصدها ومراقبتها: الأكسجين المذاب (5 ملغ / لتر)، ودرجة الأس الهيدروجيني (6-7)، ودرجة الحرارة (18-30 درجة مئوية)، ومجموع النيتروجين، وقلوية الماء. تذكر: قد تبدو كيمياء المياه معقدة، ولكن الإدارة الفعلية بسيطة نسبيا بمساعدة مجموعات الاختبار الشائعة. </p>
                    <p align="right"> لا تزحم الأحواض، لان إدارة نظام الاستزراع النباتي والسمكي الخاص بك ستكون أسهل وسكون مقاوما ضد الصدمات والانهيار إذا حافظت على كثافة التخزين منخفضة. كثافة التخزين الموصى بها هي 20 كجم / 1000 لتر ، والتي سوف لا تزال تسمح  بزراعة منطقة نبات كبيرة،بالاضافة أن يجب يمكن للكثافة العالية إنتاج المزيد من الغذاء في نفس المكان، ولكن سوف تتطلب إدارة أكثر نشاطا.  </p>
                    <p align="right">  تجنب الإفراط في التغذية، وإزالة أي طعام غير مأكول،لان النفايات والمواد الغذائية غير المأكولة مضرة جداً للحيوانات المائية لأنها يمكن أن تتعفن داخل النظام. ويمكن أن يسبب الطعام الفاسد المرض، ويمكن أن يستهلك كل الأكسجين الذائب، ويجب أن نتذكر أن غذي الحيوانات كل يوم، لذلك يجب إزالة أي طعام غير مأكول بعد 30 دقيقة واضبط كمية الغذاء في اليوم التالي وفقا لذلك. </p>
                    <p align="right">  اختيار ووزع النباتات بحكمة، فيجب زرع الخضروات ذات فترات النمو القصيرة (خضروات السلاطة) بين فترات زراعة النباتات التي تحتاج فترة نمو طويلة (الباذنجان)، فمواصلة زراعة الخضروات مثل الخس بين فترات زراعة نباتات الثمار الكبيرة توفر ظروف تدرجية بشكل طبيعي، مع التذكر بشكل عام، النباتات الورقية الخضراء تنتج بشكل جيد للغاية في نظم الاستزراع النباتي والسمكي جنبا إلى جنب مع بعض الخضروات الثمرية الأكثر شيوعا، بما في ذلك الطماطم والخيار والفلفل. </p>
                    <p align="right"> الحفاظ على التوازن بين النباتات والحيوانات، فيجب استخدام نظام الحزمة المحصولية يساعد على الحفاظ على محصول ثابت من كل من الحيوانات المائية والخضروات للحفاظ على مستوى الإنتاج والحفاظ على توازن مستمر بين الأسماك والنباتات ويجب أن نتذكر أن مصدر آمن للحصول على النباتات الصغيرة والأسماك الصغيرة مهم، لذلك تأكد من أن المورِد يؤخذ في الاعتبار في مرحلة التخطيط  </p>
                   
                    <p align="right"> ...  </p>
                    <p align="right">... </p>
                    <p align="right">وشكراً</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>