<ion-view title=" انتاج الفحم ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">مشروع انتاج الفحم النباتي   </p></b>
                        <b><p align="right"><img ng-src="img/fa.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
                        
                        
                    <p align="right">يتلخص المشروع في تحويل الاخشاب والمخلفات الزراعية الناتجة عن عمليات تقليم الاشجار الي فحم نباتي مطابق للمواصفات علي ان تتم عملية الانتاج (التجفيف والتفحيم) في مكامير مطورة وبمعزل تام عن الاكسجين مما يساعد علي تخفيض كميات الغازات الضارة التي تنبعث عند انتاج الفحم النباتي</p>
                    <b><p align="right">المواد الخام ومتطلبات الانتاج</p></b>
                    <p align="right">تعتبر الاخشاب هي المادة الخام الاساسية والوحيدة للمشروع، وبالنسبة للاخشاب المتوافرة والتي يمكن الاعتماد عليها هي (الجزورين، الجوافة، الزيتون، الليمون، اشجار الفواكة) الجدير بالذكر ان الدورة الانتاجية الواحدة تستغرق 30 يوم وتحتاج الي 68.4 طن من الاخشاب. كذلك ستحتاج الي شكائر بلاستيكية لتعبئة المنتجات بها</p>
                    <b><p align="right">الالات والمعدات المطلوبة</p></b>
                    <p align="right">مكمورة مطورة “فرن تفحيم مطور” بطاقة انتاجية 1 طن في اليوم</p>
                    <p align="right">منشار رأسي لتقطيع الاخشاب تمهيداً لوضعها في مكمورة الانتاج المطورة</p>
                    <b><p align="right">مراحل انتاج الفحم النباتي من المخلفات الزراعية بالنظام المطور</p></b>
                    <p align="right">تجهيز الاخشاب وتقطيعها بأحجام متساوية</p>
                    <p align="right">يتم وضع الاخشاب المقطعة في مجموعة ترولي وتوضع في المكمورة المطورة (فرن انتاج الفحم النباتي المطور) ومن ثم يتم اغلاقها بإحكام</p>
                    <p align="right">مراجعة وحدة التحكم والتأكد من دورة الهواء</p>
                    <p align="right">تجهيز بيت النار واشعال النار وتشغيل البلور</p>
                    <p align="right">ضبط درجات الحرارة والتأكد من مرحلة التجفيف</p>
                    <p align="right">بعد مرور 6 ساعات من تواجد الاخشاب في المكمورة يتم عكس دورة الهواء لتتم عمليتي التجفيف والتفحيم بالتبادل</p>
                    <p align="right">في هذة المرحلة يتم تبريد الفحم النباتي</p>
                    <p align="right">المرحلة الاخيرة وفيها تتم تعبئة الفحم النباتي في شكائر بلاستيكية مطبوع عليها اسم المشروع لتكون جاهزة للبيع</p>
                    <b><p align="right">المعرفة المطلوبة لصاحب المشروع</p></b>

                    <p align="right">لضمان نجاح المشروع يجب ان يكتسب صاحبة المعرفة والخبرة ويمكن ذلك عن طريق العمل في مشروع مماثل او عن طريق التدريب العملي لدي احدي الجهات التدريبية او لدى احد مصانع انتاج الفحم النباتي التي تعمل بنظام المكامير المطورة، كما يمكن لة ان يقرأ كثيراً ويتعلم من الكتب حيث ان القراءة تساعد اصحاب المشاريع كثيراً عن ان يتخطوا المشاكل وتفتح لهم افاقاً نحو النجاح. هذا وبالحديث عن مؤهل صاحب المشروع فيمكننا القول بأنة لا يشترط وجود مؤهل معين ولكن يشترط ان تكون لدية القدرة علي التعلم واكتساب المعارف والخبرات لكي ينجح</p>
                    <p align="right">...</p>
                  
                    <p align="right">...</p>

                    <p align="right">وشكراً</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>