<ion-view title="انتاج الزيت    ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right"> مشروع انتاج زيت الفول    </p></b>
                        <b><p align="right"><img ng-src="img/fo.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
                    <p align="right">زيت الفول السواداني يعد واحداً من اهم انواع الزيوت الطبيعية علي الاطلاق، فهو متعدد الفوائد ويستخدم لأغراض عديدة، فهناك من يستخدمة في اعمال الطهي وذلك لأنة غني بالبروتينات اللازمة لتقوية وبناء الجسم كما انة غني بالدهون الغير مشبعة التي تفيد الجسم ولا تضرة، كذلك هناك من يستخدمة في علاج العديد من الامراض والاعراض مثل (حبوب الشباب، قشرة الشعر، مشاكل المعدة، ضغط الدم المرتفع، حالات التشنج، العناية بالبشرة والشعر، ازالة الجلد المترهل من الشفاة لتصبح اكثر نعومة)، ايضاً يمكن استخدام زيت الفول السوداني في اعمال المساج او التدليك حيث انة يحتوي علي الفيتامينات التي تساعد الجسم علي استعادة نشاطة وحيويتة، كما يستخدم علي نطاق واسع في طب الروائج نظراً لرائحتة الخفيفة والغريبة. الجدير بالذكر ان هذا المنتج متوافر في العطارات وبعض الصيدليات ويمكنك شرائة منها ان اردت ذلك، ولكن ان رغبت في الحصول علي منتج مضمون وعالي الجودة فالافضل ان تصنعة بنفسك في منزلك. فصناعة زيت الفول السوداني لن تكلفك الكثير من الوقت او الجهد او المال</p>
                    <b><p align="right">طريقة عمل زيت الفول السوداني في المنزل</p></b>
                    <p align="right">كل ثلاثة اكواب من الفول السوداني سينتج عنها كوب واحد فقط من زيت الفول السوادني. لذلك ستحتاج الي شراء كمية كبيرة نسبياً من الفول السوداني الطازج ويمكنك الحصول عليها من محل البقالة او من السوق. الجدير بالذكر ان سعر المنتج رخيص ولن يكلفك الكثير من المال</p>
                    <p align="right">هذة الخطوة قد تكون الاصعب والاكثر استهلاكاً للوقت، فأنت مطالب بكسر القشور الخارجية واستخراج حبات الفول من داخلها، ومن ثم يجب عليك ازالة القشرة الخارجية لحبات الفول “ذات اللون الداكن”. بعد الانتهاء يجب ان  تغسل الحبات بالماء البارد اولاً ثم بالماء الساخن</p>
                    <p align="right">نقوم الان بإحضار اناء نظيف ومن ثم نضيف حبات الفول المغسولة الية ومن ثم نضيف عليها ماء دافي ونتركها لمدة 10- 15 دقيقة وخلال هذا الوقت يمكنك تحضير باقي المتطلبات اللازمة لاستكمال العمل. هذة العملية يطلق عليها عملية النقع والغرض منها جعل الحبات اكثر ليونة او اقل صلابة</p>
                    <p align="right">بعد مرور المدة الزمنية المحدد ستصبح حبات الفول اقل صلابة ويمكنك تحسس ذلك بنفسك، وفي هذا الوقت يمكنك تصفية المياة من الاناء ومن ثم تقوم بتجميع الحبوب ووضعها في الخلاط وطحنها لتحولها الي معجون ناعم، وهذة الخطوة ضرورية ولابد من انجازها بالشكل المطلوب للحصول علي اعلي قدر من زيت الفول السوداني عالي الجودة. هذا وان واجهتك صعوبة اثناء عملية الطحن فيمكنك اضافة ملعقة او ملعقتين من الماء الدافئ الي الخلاط ولكن يراعي ان لا تزيد كمية الماء المضاف عن هذا الحد، لأن زيادة الماء ستجعل المعجون الناتج اكثر رطوبة واقل تماسكاً وهذا ليس بالامر الجيد</p>
                    <p align="right">بعد الانتهاء من عملية الطحن وتحويل الحبات الي معجون ناعم يمكنك اضافة هذا المعجون الي عبوة بلاستيكية من العبوات التي تستخدم لحفظ الاطعة بشرط ان يكون لها غطاء او يمكنك اضافتة الي برطمان زجاجي جاف ونظيف ولة غطاء ايضاً، وبعد الانتهاء من اضافة المعجون الي العبوة او البرطمان يمكنك غلق الغطاء بإحكام ومن ثم يمكنك وضعة في الثلاجة لمدة يوم واحد علي الاقل</p>
                    <p align="right">بعد مرور 24 ساعة او اكثر قليلاً علي وضع المعجون في الثلاجة يمكنك فتح الثلاجة وستلاحظ بنفسك (دون ان تلمس العبوة او البرطمان) ان الزيت قد طفا علي السطح وفي هذة الحالة يجب عليك ان تقوم بفضل زيت الفول السوداني عن الرواسب او البقايا المتواجدة في اسفل العبوة او البرطمان</p>
                    <p align="right">يمكن اتمام هذة العملية البسيطة والهامة عن طريق احضار برطمان او اناء نظيف وجاف بالاضافة الي مصفاة ذات فتحات ضيقة جداً او يمكن الاستعاضة عنها بقطعة قماش مصنوعة من القطن او قطعة من الشاش، ومن ثم يمكنك سكب الزيت الي المصفاة او قطعة القماش الموضوعة اعلي البرطمان اوالاناء الجديد، وستلاحظ ان الزيت الصافي قد تسرب الي الاناء او البرطمان وان الرواسب او بقايا حبات الفول قد حُبست في المصفاة او قطعة القماش المستخدمة للتصفية، ومن الممكن ان تضغط علي هذة البقايا بإصبعك او بملعقة صغيرة للمساح للزيت العالق بها بالتسرب الي الاناء او البرطمان</p>
                    <p align="right">ان اعتمدت علي مصفاة او قطعة من الشاش فقد تلاحظ بعد الانتهاء من عملية التصفية ان هناك بعض الرواسب او البقايا قد تسربت الي الاناء الجديد الذي من المفترض او يحتوي علي الزيت الصافي، لذا يمكنك اعادة تصفيتة مرة اخري لضمان فصل هذة البقايا الغير مرغوب فيها عن الزيت ولكن هذة المرة يجب استخدام مصفاة ذات فتحات اضيق او يمكنك الاعتماد علي قطعة من القماش القطني لأنة افضل بكثير ولن يسرب اياً من البقايا الي زيت الفول السوداني الناتج</p>
                 
                    <p align="right">...</p>
                    <p align="right">...</p>
               
                    <p align="right">وشكراً</p>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>