<ion-view title="اتصل بنا  ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right"><img ng-src="img/mm.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
                        <b><p align="right">يمكنك الاتصال بنا بالوسائل التالية  </p></b>
                        <b><p align="right"></p>  </p></b>
                        <b><p align="center"></p> ــــــــــــــــــــــــــــــ </p></b>
                        <b><p align="right">بريد الكتروني</p></b>
                    <p align="right">aymn@info.com
                    </p>
                    <b><p align="right">فاكس </p></b>
                    <p align="right">2298877333
                    </p>
                    <p align="right">8092384098
                    </p>
                    <b><p align="right">هاتف </p></b>
                    <p align="right">+966571841743
                    </p>
                    <p align="right">0993285584
                    </p>
                    <b><p align="right"></p>  </p></b>

                  
                    <a ui-sref="app.msg" class="item item-avatar item-icon-right">
                        <img src="img/MDGG.png">
                        <h2 align="right"><b>ارسال رسالة </b></h2>
                    </a>
                    <a href="tel:0993285584" class="button button-full button-assertive ink  icon-left ion-android-call">   اتصال مباشر   </a>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>