<ion-view view-title="قائمة البذور">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list half">
            <div ui-sref="#" class="card card-gallery item item-text-wrap" >
                <div class="ink dark-bg" >
                    <h2 align ="right" ><b>بذور بصل </b></h2>
                    <img class="full-image" src="img/sansa-snowcastle3.jpg">
                </div>
                   
                    
                
            </div>
            <div ui-sref="#" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg" >
                    <h2 align ="right"><b>بذور قمح </b></h2>
                    <img class="full-image" src="img/mash.jpg" width="100%" height="30%">
                </div>
                   
                    
                
            </div>
			   <div ui-sref="#" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg" >
                    <h2 align ="right"><b>بذور برسيم</b></h2>
                    <img class="full-image" src="img/ma.jpg">
                </div>
                   
                    
                
            </div>
			   <div ui-sref="#" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg" >
                    <h2 align ="right"><b>بذور ذرة</b></h2>
                    <img class="full-image" src="img/sa.jpg">
                </div>
                   
                    
                
            </div>
			   <div ui-sref="#" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg" >
                    <h2 align ="right"><b>بذور سمسم  </b></h2>
                    <img class="full-image" src="img/as.jpg">
                </div>
                   
                    
                
            </div>
			</div>
        <div class="list half">
            <div ui-sref="#" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg" >
                    <h2 align ="right"><b>بذور طماطم</b></h2>
                    <img class="full-image" src="img/ha.jpg">
                </div>
            </div>
            <div ui-sref="#" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                <div class="ink dark-bg" >
                    <h2 align ="right"><b>بذور ليمون</b></h2>
                    <img class="full-image" src="img/tb.jpg">
                </div>
            </div>
        </div>
          <div ui-sref="#" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                <div class="ink dark-bg" >
                    <h2 align ="right"><b>بذور برتقال</b></h2>
                    <img class="full-image" src="img/fa.jpg">
                </div>
            </div>
        </div>
        <div ui-sref="#" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                <div class="ink dark-bg" >
                    <h2 align ="right"><b>بذور مانجو </b></h2>
                    <img class="full-image" src="img/fo.jpg">
                </div>
            </div>
        </div>
        <div ui-sref="#" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                <div class="ink dark-bg" >
                    <h2 align ="right"><b>بذور نخيل</b></h2>
                    <img class="full-image" src="img/mo.jpg">
                </div>
            </div>
        </div>
		  </div>
		
		
    </ion-content>
</ion-view>
