<ion-view title="مكافحة الحشرات  ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">مكافحة وابادة حشرات المنازل </p></b>
                        <b><p align="right"><img ng-src="img/ha.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
                    <p align="right">فكرة مشروع اليوم من مشاريع صغيرة عن انشاء شركة متخصصة فى مكافحة وابادة حشرات المنازل والقوارض والزواحف الصغيرة والنمل والصراصير وغيرها، ويتزايد الطلب فى الوقت الحالى على طلب مثل هذة الشركات حيث يعانى الناس واصحاب البيوت من مثل هذة الكائنات التى تسبب لهم الاذى ويسعون للتخلص منها بأى طريقة ولكن بشرط ان تكون آمنة ولا تستخدم مبيدات سامة او تؤثر على صحة الاطفال وصحة سكان البيت، وتتم عملية ابادة حشرات المنازل بالاعتماد على الامصال المتعارف عليها عالمياً والحاصلة على شهادات جودة وتتم هذة العملية تحت اشراف متخصصين على اعلى مستوى من العلم فى هذا المجال، حيث ان مجال مكافحة الافآت ليس مجرد عمل ينفذ على الارض وانما هو علم يدرس</p>
                    <b><p align="right">العمالة المطلوبة فى مشروع شركة ابادة حشرات</p></b>
                    <p align="right">تحتاج الى موظف ادارى يقوم باستقبال المكالمات وتحديد المواعيد وتنظيم الجداول وغيرها، وتحتاج الى فنيين متخصصين فى مجال مكافحة الافآت.</p>
                   <b> <p align="right">تسويق مشروع شركة ابادة حشرات</p> </b>
                    <p align="right">طباعة الفلايرات الدعائية وعرض الخدمات التى تقدمها بها وتوزيعها على السكان وبعد صلاة الجمعة وغيرها</p>
                    <p align="right">عمل حملات دعائية على الانترنت وصفحات التواصل الاجتماعى</p>
                    <p align="right">عمل دعايا فى المجلات متوسطة السعر وواسعة الانتشار</p>
                    <p align="right">المشاركة فى المعارض والندوات وغيرها</p> 
                    <p align="right">...</p>
                    <p align="right">...</p>
                    <p align="right">وشكراً</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>