<ion-view title="صناعة المخدات ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">مشروع  صناعة المخدات  </p></b>
                        <b><p align="right"><img ng-src="img/ma.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
                        <p align="right">يتميز المشروع بنجاحه فى السنوات الماضية، مع جهيز الشقق السكنية، ويعتمد على توفير مخدات بألوان مختلفة وناعمة ، لتعطى الشكل الجذاب والجمالى للفرش فى المنازل، </p>

                        <b><p align="right">المتطلبات</p></b>
                    <p align="right">  عدد 10علبة كلف منوعة للتطريز   </p>
                    <p align="right">  عدد23 لفة بولستر   </p>
                    <p align="right">  عدد 4 لفة قماش شهريًا بطول “45 مترًا”    </p>
                    <p align="right">  تكاليف مرافق تشمل الكهرباء والمياه،    </p>
                    <p align="right">  خيَّاطة ومدير للمشروع،   </p>
                    <p align="right">  عدد 15 علبة خيط،   </p> 
                    <p align="right">  معدات يدوية  </p>
                   
                    <p align="right">...</p>
                    <p align="right">...</p>
                    <p align="right">...</p>
                    <p align="right">وشكراً</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>