<ion-view title=" المعجنات  ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">مشروع صناعة المعجنات  </p></b>
                        <b><p align="right"><img ng-src="img/mo.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
                    <p align="right">يهدف مشروع صناعة المعجنات الي تقديم منتجات مختلفه لارضاء كافة الاذواق، كما يهدف الي حفظ وتغليف تلك المنتجات بشكل مثالي لضمان سلامة المنتجات وكسب اهتمام وقبول العملاء</p>
                    <p align="right">يقدم المشروع مجموعه متنوعه من المنتجات، وهي (الكنافة، السمبوسة، الجلاش، الرقاق، الباتون ساليه، الكايزر، الكيك، خبز السن، البسكويت</p>
                    <b><p align="right">مراحل الانتاج</p></b>
                    <p align="right">في البدايه يتم العمل علي تجهيز الخامات والمكونات التي سيتم الاعتماد عليها في صناعة المعجنات</p>
                    <p align="right">بعد ذلك يتم خلط الخامات والقيام بعملية العجن</p>
                    <p align="right">يتم تشكيل المنتجات وفقاً للنوع والشكل المطلوب</p>
                    <p align="right">بعد الانتهاء يتم تعبئة وتغليف المنتجات</p>
                    <p align="right">يتم حفظ المنتجات بالتربيد والتجميد</p>
                    <b><p align="right">المعدات اللازمه للمشروع</p></b>
                    <p align="right">يحتاج المشروع الي مجموعه من المعدات والادوات الحديثه لكي تتم عمليات الانتاج بشكل اسرع وبدقه عاليه، هذه المعدات تتمثل في (ماكينة عجن، ماكينة كنافة، ماكينة فرد جلاش، قطاعه للعجين، منخل هزاز، ميزان قبانى، حجرة تبريد، أوانى متدرجة، عدد يدوية وموازين صغيرة</p>
                    <b><p align="right">المواد الخام</p></b>
                    <p align="right">تتوافر كافة المواد الخام اللازمه للانتاج في الاسواق المحليه وبالتالي لن يكون هناك داعي لاستيرادها من الخارج، هذه الخامات هي ( دقيق استخلاص 27%، زبد طبيعى، زيت طعام، ملح الطعام، مكونات التعبئة والتغليف</p>
                    <b><p align="right">موقع ومساحة المشروع</p></b>
                    <p align="right">بالنسبه لموقع المشروع فمن الافضل ان يتم تنفيذه في المناطق الصناعيه حيث تكون اسعار الايجارات ارخص بكثير من اسعارها في المناطق السكنيه والمناطق غير الصناعيه، اضف الي ذلك ان الحكومات تشجع المستثمرين علي تنفيذ مشاريع استثماريه في المناطق الصناعيه عن طريق تخفيض الضرائب وتوفير الخدمات، هذا وبالنسبه للمساحه فإن المشروع يحتاج الي مكان بمساحة ٢٠٠ متر مربع علي ان تكون مغطاه بالكامل ومتوفر بها مصدر للكهرباء ومصدر للغاز ومصدر للمياه البارده والساخنه بالاضافه الي توافر مصدر للتهويه</p>
                    <p align="right">...</p>
                    <p align="right">...</p>
                    <p align="right">وشكراً</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>