<ion-view title="محمصة ومطحنة قهوة   ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">مشروع محمصة ومطحنة قهوة  </p></b>
                        <b><p align="right"><img ng-src="img/mash.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
					<p align="right">يمكن تصنيفه ضمن افضل المشاريع الانتاجية الصغيرة وذلك لأن وضع السوق الحالي في اغلب الدول العربية اكثر من ممتاز والمنتجات التي يقدمها مطلوبه بشكل كبير جداً من قبل شريحه كبيره ومتنوعه من العملاء، فهو يستهدف المقاهي الشعبيه والكافيهات متوسطة ومرتفعة المستوي كما انه يستهدف محلات السوبر ماركت ومحلات العطارة ومحلات البقاله، وكذلك يستهدف محلات الهايبر ماركت كما يستهدف شركات الكاترنج التي تورد المنتجات الغذائية للشركات والفنادق والمدارس كما انه يستهدف شركات توزيع المواد الغذائية وكذلك يستهدف الافراد العاديين. لذلك دعني اقول لك عزيزي القارئ بأنك اذا نفذت هذا المشروع بالشكل الصحيح وتمكنت من تقديم منتجات رائعه وسوقت لها بفاعليه فإنك بعد بمشيئة الله ستحقق ارباح ممتازه، فيما يلي سأوضح لك متطلبات المشروع وكيفية القيام بالعملية الانتاجيه وكيفية تسويق وبيع اكياس البن لتحقيق الارباح</p>
                    <b><p align="right">متطلبات المشروع</p></b>
                    <b><p align="right">موقع ومساحة المشروع</p></b>
                    <p align="right">محل بمساحة ٢٠ متر مربع سيكون كاف لاستيعاب الالات الخاصه بالمشروع ومن خلاله يمكن العمل والانتاج ولكن بكل تأكيد كلما كانت المساحة اكبر كلما كان افضل، فكبر المساحه يعني حريه اكثر في الحركه وسهوله في اداء الاعمال، هذا وبالنسبه لموقع المحل فيفضل ان يكون في منطقه مزدحمه نسبياً (بجوار جامعه، منطقه تجاريه، حي او شارع معروف) وذلك لان المشروع يستهدف الافراد ايضاً وليس المحلات والمقاهي فقط كما سبق وان اشرنا في المقدمه. هذا وبالحديث عن مواصفات المحل فإنه يجب ان تكون ارضيته من السيراميك كما يجب ان تكون الحوائط مطليه بدهانات راقيه من حيث اللون وبكل تأكيد يجب ان يكون بالمحل مصدر للكهرباء كما يجب تعليق لافته علي واجهة المحل لتوضيح نوعية النشاط واسم المحل</p>
                    <b><p align="right">المعدات اللازمه للمشروع</p></b>
                    <p align="right">يحتاج المشروع الي محمصة بن للاستخدام التجاري لا للاستخدام المنزلي، وقد تكون المحمصه هي الاغلي بين مكونات المشروع ولكن توافرها ضروره، فمن خلالها يتم تحميص حبوب القهوة الخضراء بالاضافه الي تحميص الخامات الاخري مثل الهيل وجوز الطيب والقرنفل في حالة العمل علي انتاج البن المحوج، هذا ويمكن الحصول علي المحمصه ووعاء التهويه الخاص بها من احدي شركات تصنيع المعدات المحليه او يمكن استيرادها من الصين عبر الانترنت (يمكنك البحث في موقع علي بابا وستجد العديد من محامص البن ذات الطاقات الانتاجيه المختلفه).
                            كذلك يحتاج المشروع الي مطحنة بن وفيها يتم طحن حبوب القهوة التي تم تحميصها بالاضافه الي طحن الخام الاخري في حالة انتاج البن المحوج ويمكن الحصول عليها من نفس المكان الذي يتم شراء المحمصه منه.
                            ايضاً يجب توفير جهاز تفريغ هواء واغلاق اكياس لتفريغ الهواء من الاكياس ولحامها وبالتالي تحتفظ المنتجات نكهتها وتزيد مدة صلاحيتها، ويمكن الحصول علي هذا الجهاز من اي شركه متخصصه في تجارة معدات التعبئه والتغليف وسعره ليس مرتفع.
                            كذلك ستكون هناك حاجه لماكينة طباعة تاريخ الصلاحيه للاعتماد عليها في طباعة تاريخ صلاحية المنتجات بعد تعبئتها في الاكياس المخصصه ويمكن الحصول عليها من اي مكتبة او شركة تجارة اجهزة الباركود وحلول الشركات.
                            </p>
                   <b> <p align="right">المواد الخام</p> </b>
                    <p align="right">يحتاج مشروع محمصة ومطحنة قهوة الي مجموعه متنوعه من المواد الخام، واهم تلك المواد هي حبوب البن الخضراء، ويوجد منها انواع عديده، اهمها (اليمني، البرازيلي، الحبشي) ويفضل شراء انواع مختلفه من الحبوب دون الاعتماد علي نوع ،احد فقط، حيث تختلف رغبات الزبائن وقدراتهم الماليه كما انه يمكن خلط اكثر من نوع مع بعض للارتقاء بمستوي المنتجات، هذا ويمكن شراء الحبوب من المستوردين بشكل مباشر او من المطاحن الكبري. الجدير بالذكر انه عند الحاجه الي صناعة البن المحوج فستحتاج الي خامات اخري مثل الهيل وجوز الطيب والقرنفل. واخيراً يحتاج المشروع الي اكياس بلاستيكيه او ورقيه للتعبئه ويجب ان يكون مدون عليها اسم المشروع والعلامة التجارية الخاصه به والوزن وطريقة التحضير، وبعد التعبئة يمكن طباعة تاريخ الصلاحيه عليها</p>
                  <b> <p align="right">العمالة اللازمه للمشروع</p> </b>
                    <p align="right">يحتاج المشروع الي ٣ عمال من ذوي الخبره في مجال تحميص وطحن وتعبئة البن، فالعماله الخبيره في هذا المشروع ضروريه جداً وبدونها ستكون المنتجات غير متميزه سواء من حيث درجة التحيص او من حيث نسب الخلطات وبالتالي ستكون هناك صعوبه في بيع المنتجات وبناء قاعده من العملاء، هذا ويمكنك ان تسأل في السوق لتعرف رواتب العمال ومن ثم تحدد رواتبهم بناء علي ذلك</p>
                    <b><p align="right">مراحل الانتاج</p></b>
                     <b><p align="right">اعداد الخلطة</p></b>
                      <p align="right">قد تكون جودة البن البرازيلي مرتفعه ولكن الاعتماد عليه بمفرده قد يكون اختيار سئ حيث ان مشروب القهوة المصنوع من البن البرازيلي يوجد به طعم مر وقد لا يفضله الكثير من الناس، لذلك يمكن خلطه بنوع اخر من البن مثل البن الاندونيسي او الاوغندي او الاثيوبي بمقدار يحددة الصانع، وهنا تكمن اهمية توافر الخبره لدي العمال العاملين بالمشروع</p>
                     <b> <p align="right">مرحلة التحميص</p> </b>
                      <p align="right">يتم وضع حبوب القهوة التي تم اختيارها في ألة التحميص الي ان تصل الي مستوي التحميص المرغوب ومن ثم انزل الحبوب في وعاء التهويه ليتم تقليبها يدوياً وان كانت آلة التحميص حديثه فإن عملية التقليب ستتم بشكل اوتوماتيكي. وفي حالة العمل علي انتاج بن محوج فيمكن تحميص الخامات الاخري (جوز الطيب، الهيل، القرنفل) بكميات تتناسب مع كمية حبوب القهوة المحمصه والباردة، وهنا ايضاً تكمن اهمية العماله الخبير</p>
                      <b><p align="right">مرحلة الطحن</p></b>
                      <p align="right">يتم وضع حبوب القهوة الباردة الساده او المخلوطة بالخامات الاخري “المحوج” في آلة الطحن ويتم ظبط درجة نعومه المنتج من خلال مقياس متواجد بالآله</p>
                      <b><p align="right"><img ng-src="img/ta.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>

                      <b><p align="right">مرحلة التعبئة والتغليف</p></b>
                      <p align="right">قبل التعبئة يجب اختبار المنتج، فمن الممكن صناعة عدة اكواب من القهوه للتأكد من ان المنتج جيد من ناحية المذاق والقوام، ومن ثم يتم تعبئة المنتجات في اكياس بأوزان (١٢٥ جرام، ٢٥٠ جرام، ٥٠٠ جرام) وبعد التأكد من الوزن يتم تفريغ الهواء واغلاق الاكياس ومن ثم تخزينها في عبوات كرتونيه تمهيداً لبيعها</p>
                      <p align="right">...</p>
                      <p align="right">...</p><p align="right">...</p>


                    <p align="right">وشكراً</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>