<ion-view title="صناعة الصابون ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">مشروع محمصة ومطحنة قهوة  </p></b>
                        <b><p align="right"><img ng-src="img/mash.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
					<b><p align="right">ىىىىىى</p></b>
                    <p align="right">...</p>
                    <p align="right">...</p>
                    <p align="right">وشكراً</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>