<ion-view title="ارسال رسالة">
        <ion-content padding="'true'" scroll="false" class="has-header">
               <br >
<center><b>ارسال رسالة</b></center>              <br >
            <form class="list" dir="rtl">
                <ion-list>
                    <label>
                        <ion-md-input type="text" placeholder="الاسم" highlight-color="balanced" ng-model="data.name"> </ion-md-input>
                    </label>
                    <label>
						 <ion-md-input type="number" placeholder="رقم وطني" highlight-color="balanced" ng-model="data.pincode"> </ion-md-input>
                    </label>
					<label>
						 <ion-md-input type="text" placeholder="الرسالة" highlight-color="balanced" ng-model="data.password"> </ion-md-input>
                    </label>					
                </ion-list>
           
                <button ng-click="signup(data)"  class="button button-calm button-block ">ارسال الرسالة </button>
            </form>
        </ion-content>
    </ion-view>