<ion-view title="صناعة الصابون ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right"> مشروع صناعة الصابون في المنزل </p></b>
                        <b><p align="right"><img ng-src="img/sansa-snowcastle3.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
					<b><p align="right">الصابون</p></b>
                    <p align="right">الصابون من المواد التي تستخدم لتنظيف الجسم، وخاصة تنظيف الأيدي، والصابون يصنع من الدهون النباتية أو الحيوانية، أول من حاول صنع الصابون هم سكان غرب أوروبا منذ العصر الحجري، وأوّل ما تم تصنيع الصابون تمت صناعته في المنازل، وهناك أنواع صابون ذات شهرة كبيرة كالصابون النابلسي، الصابون الحلبي والصابون الطرابلسي، وتم تسميت كل صابون منهم نسبة إلى المنطقة التي تم تصنيعها فيها، ولتصنيع الصابون في المنزل عدة طرق وفي ما يلي سيتم شرح كل طريقة
                    </p>
                    <b><p align="right">صنع الصابون الصلب</p></b>
                    <b><p align="right">المكوّنات</p></b>
                    <p align="right">	ثلاثة ليترات من زيت الزيتون </p>
                    <p align="right">	نصف كيلو صودا كاوية</p>
                    <p align="right">	لتر ونصف ماء. كفوف بلاستيكية</p>
                    <p align="right">	وعاء مصنوع من الحديد أو الستيل والابتعاد عن الألمنيوم بسبب تفاعله مع الصودا وإنتاج أبخرة ضارة بالجهاز التنفسي</p>
                    <p align="right">	مادة عطرية حسب الرغبة</p>
          
                    <b><p align="right">طريقة التحضير</p></b>
                    <p align="right">	يتم ارتداء الكفوف البلاستيكية وذلك لأن مادة الصودا لها أثر ضار على الجلد، وبعدها توضع الصودا مع الماء في الوعاء الحديدي على النار ويتم الاستمرار في التحريك إلى أن يصبح لخليط فاتر، وبعدها يسكب زيت الزيتون والمادة العطرية على الخليط مع استمرار في التحريك إلى أن يصبح خليط لزج متماسك، ويتم سكب الخليط اللزج في صندوق مربع، وتترك لمدة ثلاث أيام في مكان جيد التهوية بعيد عن أشعة الشمس، وبعد ذلك يتم تقطيعها حسب الحجم المرغوب، وبذلك تكون جاهزة للاستخدام</p>
                    <b><p align="right">ــــــــــــــــــــــــــــــ</p></b>
                    <b><p align="right">طريقة صنع الصابون السائل</p></b>
                    <b><p align="right">المكوّنات</p></b>
                    <p align="right">نصف كوب من الصودا الكاوي</p>
                    <p align="right"> نصف كيلو مسحوق حمض السيفونيك أسيد</p>
                    <p align="right">جليسرين</p>
                    <p align="right">رائحة معطرة حسب الرغبة</p>
                    <p align="right">ليتران ماء</p>
                    <b><p align="right">طريقة التحضير</p></b>
                    <p align="right">	يتم وضع الصودا والماء في وعاد حديدي على نار ويتم التحريك إلى أن تذوب الصودا، وبعدها تترك إلى أن تبرد، وبعد أن تبرد يوضع مسحوق حمض السيفونيك مع التحريك، وبعدها يضاف الجليسرين، ومن بعدها يتم إضافة الماء حتى يصبح لزج حسب الرغبة وتوضع المواد العطرية، ويسكب الخليط في أوعية لتكون بذلك جاهزة للاستخدام مباشرة</p>
                    <p align="right">...</p>
                    <p align="right">...</p>
                    <p align="right">وشكراً</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>