<ion-view title="صناعة الطباشير  ">
     

    <ion-content padding="'true'" class="has-header">
        <img ng-src="{{img}}" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="button-bar">
           
        </div>
        <div class="list card" align="right">
            
            <div class="item item-body" align="right">
                <div>
                        <b><p align="right">مشروع صناعة وانتاج الطباشير  </p></b>
                        <b><p align="right"><img ng-src="img/tb.jpg" width="100%" height="auto" style="width: 100%; height: auto;"></p></b>
					<b><p align="right">مكونات الطباشير </p></b>
                    <p align="right">المادة الرئيسية التى يتكون منها الطباشير هي كربونات الكالسيوم caco3 وباقى المواد المستخدمة هو مواد اضافية مسؤلة عن قوة والشكل الطباشيرة</p>
                    <b> <p align="right">استخدامات الطباشير</p></b>
                    <p align="right">يستخدم فى المدارس الحكومية للكتابة على اللوح الخشبى، وكانت الطباشيرة القديمة يتم صنعها من كربونات الكالسيوم caso3 ولكن تغير الحال الان وتم صنعها من الجبس او علمياًمادة كبريتات الكالسيوم caso4 ويتم ضغط على شكل اصابع طول الواحدمن تقريباً 10 سم.</p>
                    <p align="right">ويتم استخدامة ايضاً فى مجال الرياضة وتحديداً فى لعبة التنس وفى هذة الحالة يتم صناعتة من مادة tio2 او اوكيبد التايتانيوم.</p>
                    <p align="right">ويستخدم ايضاً لاعبوا تسلق الجبال ورفع الاثقال والجمباز بودرة الطباشير المصنوعة من مادة mnco3 او كربونات الماغنسيوم وذلك بغرض ازالة العرق ان اياديهم</p>
                    <p align="right">ويتم استخدامة ايضاً فى منتجات تنظيف الاسنان حيث يحتوى على نسبة من الكالسيوم التى تعمل على تنظيف الاسنان.- يستخدم ايضاً لمقاومة النمل.- يحافظ على المعادن من الصدأ</p>
                    <p align="right">يستخدم فى منع الرطوبة والحفاظ على درجة لمعان الفضة.وتوجد استخدامات اخرى كثيرة يدخل فيها المنتج، وبالتالى فإن مشروع صغير صناعة وانتاج الطباشير يخدم فئات وشرائح كبيرةويمكن تحقيق ارباح جيدة من خلالهم</p>
                  
                    <p align="right">...</p>
                    <p align="right">...</p>
                    <p align="right">وشكراً</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>